/* ************* CSS RESET STARTS HERE ************ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************* CSS RESET ENDS HERE ************ */

/**************** MAIN CSS STARTS HERE ***********/

html {}
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background: rgb(34,193,195);
        background: -moz-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,238,203,1) 100%);
        background: -webkit-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,238,203,1) 100%);
        background: linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,238,203,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#ffeecb",GradientType=1); 
    }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 85vw;
            height: 90vh;
            margin: 5vh auto 5vh auto;
            background-color: rgba($color: #F2F2F2, $alpha: 0.75);
            border-radius: 1.5rem;
            @media (min-width:768px) {
                width: 50vw;
                height: 85vh;
            }
            @media (min-width:992px) {
                position: relative;
                left: 20vw ;
                width: 30vw;
                height: 85vh;
                padding: 1rem;
            }
            @media (min-width:1280px) {
                position: relative;
                left: 20vw ;
                width: 25vw;
                height: 85vh;
                padding: 1rem;
            }
        }
            header{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                padding-bottom: 5vh;
            }
                .avatar{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                }
                .TitluPagina{
                    font-size: 1.65rem;
                    font-weight: 500;
                    line-height: 1.15;
                }
                .SubtitluPagina{
                    line-height: 1.5;
                }
                .Divider{
                    width: 95%;
                }
                .QuickLinks{
                    display:flex;
                    padding-top: 1vh;
                    gap: 3vw;
                }
                    .QuickItem{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        background-color: rgba($color: #d9d9d9, $alpha: 0.5);
                        border-radius: 50%;
                    }
                        .QuickLink{

                        }
                            .QuickIcon{
                                
                            }
            main{}
                .ListaLinkuri{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 1rem;
                }
                    .ListItem{}
                        .ItemLink{
                            display: flex;
                            padding: 0.125rem 1.75rem;
                            margin: 0;
                            background-color: rgba($color: #ffffff, $alpha: 0.5);
                            border-radius: 1.5rem;
                            text-decoration: none;
                            color: black;
                            border: 1px solid #878787;
                            gap: 0.1rem;
                            justify-content: center;
                            align-items: center;
                            
                        }
                            .ItemIcon{
                                display: block;
                                text-align: center;
                                line-height: 0;
                                padding: 0;
                                margin: 0;
                            }
                            .ItemText{
                                display: block;
                                width: auto;
                                line-height: 0;
                                text-align: center;
                                padding: 0;
                                margin: 0;
                            }
                    .Article{
                        display: block;
                        margin: auto;
                    }
                        .ArticleLink{
                            display: block;
                            background-color: rgba(#DF811C, $alpha: 0.67);
                            border-radius: 3rem;
                            padding: 1.25rem 0.6rem;
                            line-height: 1.5;
                            margin: 0 1rem;
                            border: 0;
                        }
                            .ArticleText{
                                text-align: center;
                                color: white;
                            }
            footer{
                background-color: rgba(#f9f9f9, $alpha: 0.5);
                position: fixed;
                bottom: 0;
                width: 100%;
                
            }
            .FooterLink{
                text-decoration: none;
                color: black;
            }
                .FooterText{
                    text-align: center;
                }
            
            .mentions{
/*                 border: 1px solid black; */
                margin: 5vh 5vh;
                background-color: rgba($color: #F2F2F2, $alpha: 0.75);
                border-radius: 1.5rem;
                padding: 1rem;
            }
                .Credits{
                    padding-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-align: center;
                }
                .MentionLink{
                    display: flex;
                    padding: 0.5rem 1rem;
                    line-height: 1.15;
                    text-decoration: underline;
                    color: black;
                }


/* ************* MAIN CSS ENDS HERE ************ */
